[Unit]
Description=Remote Access Agent
Documentation=https://github.com/open-edge-platform/edge-node-agents/blob/main/remote-access-agent/README.md

[Service]
ExecStart=/opt/edge-node/bin/remote-access-agent -config /etc/edge-node/node/confs/remote-access-agent.yaml
StandardOutput=journal
StandardError=journal
RestartSec=60
Restart=on-failure
User=remote-access-agent
Group=bm-agents
CPUQuota=20%
MemoryMax=128M
AppArmorProfile=opt.edge-node.bin.remote-access-agent

[Install]
WantedBy=multi-user.target

